.gw-table {
  /**
   * 表格头部
   */
  .el-table__header {
    // 表格筛选图标
    .el-icon-search {
      position: absolute;
      right: 28px;
      top: 0;
      padding: 5px 0;
    }
    // 表格排序图标
    .caret-wrapper {
      position: absolute !important;
      top: -4px;
      right: 3px;
    }
  }
  .icon-box {
    display: inline-block;
    width: 20px;
    margin-right: 3px;
  }
  /**
   * 分页
   */
  .pagination {
    margin-top: 10px;
    .el-pagination {
      padding: 2px 0;
      .el-select .el-input{
        margin: 0 5px 0 0;
      }
    }
  }
}
