// 主页面
.container {
  position: relative;
  padding: 10px;
  overflow-y: auto;
  height: 100%;

  // 字体图标 + span 间隔
  i + span {
    margin-left: 4px;
  }
  
  // 表格字体颜色
  .status-label {
    &.is-active {
      color: #80b762;
    }

    &.not-active {
      color: #f00;
    }
  }
}

// 弹窗
.el-dialog__wrapper {
  position: absolute !important;
  .el-dialog {
    margin-top: 0 !important;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .el-dialog__header {
      // background-color: #f8f8f8;
      padding: 15px 20px;
      .el-dialog__headerbtn {
        top: 15px;
      }
    }
    .el-dialog__body {
      padding: 30px;
    }
    .el-dialog__footer {
      padding: 10px 20px;
    }
  }
}
// 拆分窗格
.splitpanes__pane {
  border: 1px solid #d3d3d3;
  .pane-header {
    font-size: 16px;
    padding: 13px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
    .pane-headerR {
      font-size: 14px;
    }
  }
  .pane-main {
    padding: 10px 30px;
    .import-cell {
      color: #000000 !important;
    }
  }
}
.splitpanes__splitter {
  width: 5px;
  background-color: #efefef;
  cursor: e-resize !important;
}
