.tree-dialog {
  .el-dialog__wrapper .el-dialog .el-dialog__body {
    height: 272px;
    padding: 10px;
    overflow: auto;
    .el-input--mini {
      margin-bottom: 10px;
    }
    .el-tree-node__label {
      font-size: 12px;
    }
  }
}
