.gw-table-filter {
  .filter-popover-btn {
    outline: none;
    color: #909399;

    &.is-active {
      color: #409EFF;
    }
  }
}

// 表格筛选气泡
.gw-table-filter-popover {
  margin-top: 9px !important;
  // 表格筛选底部按钮
  .table-filter-btn {
    margin-top: 10px;
  }
}